<h1> celebrities page</h1>

{{#each myCelebrities}}
<ul>
    <li>{{this.name}} // {{this.occupation}} // {{this.catchPhrase}} // <a href="/celebrities/{{this._id}}">Details</a>
        <a href="/celebrities/{{this._id}}/edit" alt="edit"><button type="submit">EDIT</a>
        </form>
        <form action="/celebrities/{{this._id}}/delete" method="post"><button type="submit">DELETE</button>
        </form>
    </li>
</ul>
{{/each}}



<a href="/celebrities/new">Create New Celebrity</a>
</br>
<a href="/movies">View List Of Movies</a>